<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="VideoPlayerApplication.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VideoPlayerApplication.Properties.Settings1>
            <setting name="AppWidth" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="AppHeight" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="AppLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AppRight" serializeAs="String">
                <value>0</value>
            </setting>
        </VideoPlayerApplication.Properties.Settings1>
    </userSettings>
</configuration>